.contact-title {

  /* Spacing */
  margin: 0;
  padding: 20px;
  /* padding-top: 20px;*/
  padding-bottom: 5px;

  /* Alignment */
  justify-content: center;
  justify-items: center;
  align-items: center;
  align-content: center;

  /* Style */
  font-size: 20px;
  background-color: #550c1a;
  color: #faf6ee;
  text-align: center;
  /* font-weight: 50; */

}

.contact-icons {
  display: flex;
  margin: 0;
  padding: 20px;
  padding-top: 5px;

  background-color: #550c1a;
  align-content: center;
  align-items: center;
  justify-content: center;
  justify-items: center;
  text-align: center;

  /* width: 100%; */
  /* border: solid black; */
}

.contact-icon-container {
  margin: 0;
  padding: 0px;
  /* padding-top: 5px; */

  /* background-color: #550c1a; */
  align-content: center;
  align-items: baseline;
  justify-content: center;
  justify-items: center;
  text-align: center;

  /* border: solid black; */
}

.contact-icon-1 {
  align-content: center;
  align-items: center;  
  justify-content: center;
  justify-items: center; 

  /* Style */
  color: #d2daad;
  font-size: 20px;
  text-align: left;
  filter: brightness(0) invert(1);

  /* Spacing */
  /* height: 35px;
  width: 80px; */
  width: 40px;
  height: auto;
  padding: 0;
  /* padding-left: 10px; */
  /* padding-right: 20px; */
  margin: 0;
  margin-right: 10px;
  margin-left: 10px;

  /* border: solid black; */
}

.contact-icon-1:hover {
  transform: scale(1.05);
}

.contact-icon-2 {
  align-content: center;
  align-items: center;  
  justify-content: center;
  justify-items: center;  

  /* Style */
  color: #d2daad;
  font-size: 20px;
  text-align: left;
  filter: brightness(0) invert(1);

  /* Spacing */
  width: 58px;
  height: auto;
  padding: 0;
  /* padding-left: 10px; */
  /* padding-left: 20px; */
  margin: 0;
  margin-right: 10px;
  margin-left: 10px;
  /* border: solid black; */
}

.contact-icon-2:hover {
  transform: scale(1.05);
}

.contact-body {
  /* Style */
  /* font-size: 20px; */
  font-size: medium;
  color: black;
  background-color: #faf6ee;
  /* font-weight: 50; */

  /* Grid */
  /* display: grid;
  grid-template-columns: 300px 300px 300px;
  grid-template-rows: 100px 300px;
  grid-auto-flow: row; */

  /* Alignment */
  justify-content: center;
  justify-items: stretch;
  align-items: center;
  align-content: stretch;

  /* Spacing */
  padding: 20px;
  padding-top: 30px;
  padding-bottom: 30px;
  margin: 0;
}

.photo-block {
  /* Alignment */
  justify-content: center;
  align-content: center;
  text-align: center;
  font-weight: bold;

  /* Style */
  color: black;
  /* border-color: #e6dfd6; */
  border: solid;
  border-radius: 10px;

  /* Spacing */
  padding: 0;
  padding-top: 10px;
  margin: 10px;
}
