.Home {
  text-align: center;
  /* display: flex; */
  min-width: 100%;
}

.about-banner {
  display: flex;
  flex-direction: row;

  margin: 0;
  padding: 0;
  /* padding: 20px; */

  width: 100%;
}

.about-info {
  margin: 30px;
  /* margin-bottom: 10px;
  margin-top: 10px; */
  padding: 0;
  min-width: 40%;
}

.about-photo {
  align-content: center;
  align-items: center;
  justify-content: center;
  justify-items: center;

  padding-left: 20px;
  margin: 20px;
  width: 50%;

  border: bold black;
}

.Home-title {
  background-color: #550c1a;

  width: 100%;
  justify-content: center;
  justify-items: center;
  align-items: center;
  align-content: center;

  font-size: 20px;
  color: #d2daad;
  text-align: left;

  /* font-weight: 50; */

  margin: 0;
  padding: 0;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 30px;
}

.Home-body {
  /* Style Properties */
  font-size: medium;
  color: #6e313c;
  background-color: #d2daad;
  /* background-color: white; */
  /* border-color: #e6dfd6; */
  /* width: fit-content; */
  height: auto;

  /* Container properties */
  padding: 20px;
  padding-top: 30px;
  padding-bottom: 30px;
  margin: 0px;
  /* margin-top: 20px;
  margin-bottom: 20px; */

  display: grid;
  grid-template-columns: 300px 300px;
  grid-template-rows: 300px 300px 300px 300px;
  grid-auto-flow: row;

  /* justify aligns with row; align aligns with column */
  justify-content: center;
  justify-items: stretch;
  align-content: center;
  align-items: stretch;
  /* flex-direction: row; */
}

.Home-block {
  justify-content: center;
  align-content: center;
  text-align: center;
  font-weight: bold;
  color: black;
  /* border-color: #e6dfd6; */
  border: solid;
  border-radius: 10px;
  padding: 0;
  padding-top: 10px;
  margin: 10px;
}



.icon {
  height: 150px;
  width: 150px;
}
.icon-text {
  color: #6e313c;
}

/* .img-button {
  color: rgb(128, 109, 0);
} */

a.img-button {
  color: black;
  text-decoration: none;
}

a:hover.img-button {
  color: #6e313c;
  text-decoration: none;
}

/* ColorPallette

DarkBrown  - 371907
MidBrown   - c78851
LightBrown - ebd9b9

Red  - 6e313c
Pink - fcc8c2

*/

/* .Home-logo {
  height: 40vmin;
  pointer-events: none;
} */

/* @media (prefers-reduced-motion: no-preference) {
  .Home-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */

.Home-header {
  background-color: #ebd9b9;
  /* min-height: 100vh; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* font-size: calc(10px + 2vmin); */
  color: #6e313c;
}

.Home-link {
  color: #fcc8c2;
}

/* @keyframes Home-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

/* .main-container {
  margin-top: 30px;
  margin-left: 100px;
  margin-right: 100px;
} */
