.showcase-title {
  /* Alignment */
  /* width: 100%; */
  justify-content: center;
  justify-items: center;
  align-items: center;
  align-content: center;

  /* Style */
  font-size: 25px;
  background-color: #550c1a;
  color: #faf6ee;
  text-align: center;
  /* font-weight: 50; */

  /* Spacing */
  margin: 0;
  padding: 20px;
  /* padding-top: 20px;
  padding-bottom: 20px; */
}

.showcase-body {
  /* Style */
  /* font-size: 20px; */
  font-size: medium;
  color: #6e313c;
  background-color: #faf6ee;
  /* font-weight: 50; */

  /* Grid */
  display: grid;
  grid-template-columns: 300px 300px;
  grid-template-rows: 300px 300px; /* 300px 300px; */
  grid-auto-flow: row;

  /* Alignment */
  justify-content: center;
  justify-items: stretch;
  align-items: center;
  align-content: stretch;

  /* Spacing */
  padding: 20px;
  padding-top: 30px;
  padding-bottom: 30px;
  margin: 0;
}

.review-title {
  /* Style */
  font-size: 25px;
  background-color: #ebe2d1d3;
  color: #000000;
  text-align: center;
  border-radius: 15px;

  /* Spacing */
  margin: 0;
  /* margin-right: 100px;
  margin-left: 100px; */
  padding: 20px;
  padding-top: 40px;
  padding-bottom: 40px;
}

.video-title {
  /* Style */
  font-size: 25px;
  background-color: #ebe2d1d3;
  color: #000000;
  text-align: center;

  /* Spacing */
  margin: 0;
  /* margin-right: 100px;
  margin-left: 100px; */
  padding: 20px;
  padding-top: 40px;
  padding-bottom: 40px;
}

.photo-title {
  /* Style */
  font-size: 25px;
  background-color: #ebe2d1d3;
  color: #000000;
  text-align: center;

  /* Spacing */
  margin: 0;
  /* margin-right: 100px;
  margin-left: 100px; */
  padding: 20px;
  padding-top: 40px;
  padding-bottom: 40px;
}
