/* Wrapper with background image */
.book-wrapper {
  position: relative;
  width: 100%;
  height: 350px;
  background-image: url("../images/Sneak-Peak-2.jpg"); /* replace with your image */
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  /* padding-left: 60px; */
  overflow: hidden;
}

/* Vignette overlay */
.book-overlay {
  position: absolute;
  inset: 0;
  background: radial-gradient(
    circle,
    rgba(0, 0, 0, 0) 40%,
    rgba(0, 0, 0, 0.6) 100%
  );
  pointer-events: none;
}

/* Content */
.book-content {

  color: white;

  padding-left: 60px;
  padding-right: 60px;

  position: relative;
  z-index: 2;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Title text */
.book-title {
  font-size: 48px;
  font-weight: 600;
  color: #ffffff;
  text-shadow: 1px 1px 2px #807e7eb7;
  margin-bottom: 20px;
  line-height: 1.2;
}
.book-title-mobile {
  display: none;
}

/* Button layout */
.book-buttons {
  display: flex;
  gap: 16px;
}

/* Base button style */
.btn {
  padding: 15px 24px;
  border-radius: 30px;
  font-size: 20px;
  font-weight: 500;
  text-decoration: none;
  transition: all 0.25s ease;
}

/* White button */
.btn-light {
  background: white;
  color: #333;
  border-color: white;
}
.btn-light:hover {
  background: #f1f1f1;
}
.btn-light-mobile {
  display: none;
}

/* Tan/gold button */
.btn-gold {
  background: #c9a77a;
  color: white;
  border-radius: 30px;
  border-color: #c9a77a;
}
.btn-gold:hover {
  background: #b89363;
}
.btn-gold-mobile {
  display: none;
}

@media (max-width: 850px) {
  .book-title {
    display: none;
  }
  .book-title-mobile {
    display: block;
    font-size: 38px;
    font-weight: 500;
    color:#ffffff;
    text-shadow: 1px 1px 2px #807e7eb7;
    margin-bottom: 20px;
    line-height: 1.2;
  }
  .book-buttons {
    display: flex;
    /* flex-direction: ; */
    gap: 16px;
  }

  .btn-light {
    display: none;
  }
  .btn-light-mobile {
    display: block;
    background: white;
    color: #333;
    border-color: white;
  }
  .btn-light-mobile:hover {
    background: #f1f1f1;
  }
  .btn-gold {
    display: none;
  }
  .btn-gold-mobile {
    display: block;
    background: #c9a77a;
    color: white;
    border-radius: 30px;
    border-color: #c9a77a;
  }
  .btn-gold-mobile:hover {
    background: #b89363;
  }
}
