/* Wrapper that creates the Pinterest-like columns */
.gallery-wrapper {
    margin:0;
    padding:10px;
}

.masonry-grid {
  column-count: 1;
  column-gap: 16px;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  /* padding: 10px; */
}

/* Increase columns on larger screens */
@media (min-width: 500px) {
  .masonry-grid {
    column-count: 2;
  }
}

@media (min-width: 800px) {
  .masonry-grid {
    column-count: 3;
  }
}

@media (min-width: 1100px) {
  .masonry-grid {
    column-count: 4;
  }
}


/* Each picture item */
.masonry-item {
  break-inside: avoid;
  margin-bottom: 16px;
  border-radius: 12px;
  overflow: hidden;
  display: block;
  width: 100%;
  box-shadow: 0 4px 10px rgba(0,0,0,0.15);
}

/* Images */
.masonry-item img {
  width: 100%;
  height: auto;
  display: block;
  object-fit: cover;
}