.header {
  /* Sizing */
  padding: 0;
  margin: 0;
  min-width: 100%;
  height: auto;
  min-height: 30vh;
  max-height: 90vh;
  aspect-ratio: 4/3;

  /* Spacing */
  position: relative;
  display: flex;
  flex-direction: column;
  align-content: start;
  justify-content: space-between;

  /* Style */
  color: #550c1a;
}


.header-resizer-top {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-content: start;
  color: #550c1a;
  min-width: 100%;
}
.header-resizer-bottom {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-content: start;
  color: #550c1a;
  min-width: 100%;
}

@media (max-width: 980px) {
  .header {
    padding: 0;
    margin: 0;

    display: flex;
    flex-direction: column;
    align-content: start;
    justify-content: space-between;

    color: #550c1a;
 
    width: 100%;
    height: auto;
    min-height: 30vh;
    max-height: 90vh;
    aspect-ratio: 4/3;

  }
}

.header-fade-top {
  margin: 0;
  padding: 0;
  padding-top: 20px;
  padding-bottom: 20px;

  background: linear-gradient(0deg, transparent 10%, rgba(0, 0, 0, 0.3) 100%);
}

.header-fade-bottom {
  margin: 0;
  padding: 0;
  padding-top: 20px;
  padding-bottom: 20px;

  background: linear-gradient(180deg, transparent 10%, rgba(0, 0, 0, 0.3) 100%);
}

.header-banner {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  align-content: space-between;

  min-width: 100%;

  margin: 0;
  padding: 0;
  margin-bottom: 20px;
}

.header-banner-spacing {
  margin: 10px 65px;
}

.header-home {
  color: #550c1a;

  margin: 0;
  padding: 0;
  padding-left: 20px;
  padding-right: 5px;

  align-content: center;
  align-items: center;
}

.header-home a {
  color: #550c1a;
  text-decoration: none;
}

a {
  text-decoration: none;
}

.tabs-container {
  margin: 0;
  margin-left: 5px;
  margin-right: 5px;
  padding: 0;
  padding-left: 5px;
  padding-right: 5px;
  display: flex;
  flex-direction: row;

  align-items: center;
  align-content: center;
  justify-content: space-evenly;

}

.header-tabs {
  display: block;
  padding: 0;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0;
  align-items: left;

  font-size: 15px;
  color: #550c1a;
  font-weight: bold;

  text-decoration: none;
}

.booking-button {
  margin: 0;
  margin-top: 5px;
  margin-left: 20px;
  margin-right: 20px;
  padding: 18px;
  padding-left: 15px;
  padding-right: 15px;

  color: white;
  background-color: #550c1b42;

  border: 1px solid #ddd;
  border-radius: 15px;

  justify-items: center;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.booking-button:hover {
  background-color: #550c1b80;
}

.header-button {
  justify-items: center;
  justify-content: center;
  align-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  padding-bottom: 10px;
}

.header-buffer {
  height: 230px;
}

.header-title {
  color: #550c1a;
  padding: 0;
  padding-top: 30px;
  padding-bottom: 30px;
  margin: 0;
  text-align: center;
}

.header-title h1 {
  font-size: 55px;
}
.header-title p {
  font-size: 20px;
}

.tab {
  color: #ffce64;
  text-decoration: none;
}

.header-icon {
  /* Style */
  color: #550c1a;
  font-size: 20px;
  text-align: left;

  /* Spacing */
  height: 75px;
  width: auto;
  padding: 0;
  padding-left: 10px;
  padding-right: 10px;
  margin: 0;
}

.header-icon:hover {
  transform: scale(1.05);
}

@media (max-width: 850px){
  .header {
    padding: 0;
    margin: 0;

    display: flex;
    flex-direction: column;
    align-content: start;
    justify-content: space-between;

    color: #550c1a;
 
    width: 100%;
    height: auto;
    max-height: 90vh;
    overflow: visible;
  }

  .tabs-container {
    display: none;
  }
  .header-button {
    display: none;
  }
  .header-title {
    color: #550c1a;
    padding: 0;
    padding-top: 30px;
    padding-bottom: 60px;
    margin: 0;
  }
  .header-title h1 {
    font-size: 35px;
  }
  .header-title p {
    font-size: 15px;
  }
  .header-fade-bottom {
     margin: 0;
    padding: 0;
  }

}