* {
  box-sizing: border-box;
}

.slider-wrapper {
  container-type: inline-size;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  gap: 40px;
  width: 100%;

  margin: 0;
  padding: 0;

  /* border: solid blue; */
}



.slider-row {
  display: grid;
  grid-template-columns: 1fr;
  gap: 30px;
  max-width: 90%;

  margin: 0 auto;
  margin-left: 5%;
  /* border: solid black; */
}

@media (min-width: 660px) {
  .slider-row {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 1024px) {
  .slider-row {
    grid-template-columns: repeat(3, 1fr);
  }
}

.slider-item {
  justify-content: center;
  align-items: center;
}

.button-wrapper {
  /* Placement */
  position: relative;
  top: 1px;
  right: 20px;
}

.slider-btn {
  padding: 0;
  padding-right: 5px;
  padding-left: 5px;
  margin: 0;
  margin-right: 5%;

  /* Style */
  font-size: 16px;
  border-radius: 10px;
  height: 100px;
  width: 30px;

  background: #f0eee7;
  /* background: rgba(0, 0, 0, 0.1); */

  color: black;
  border: none;

  /* Animation */
  cursor: pointer;
  transition: 0.25s;
}

.slider-btn:hover {
  background: #d8d4ca;
}
