/* src/components/PhotoBanner.css */
.photo-banner-container {
  position: relative;
  width: 100%;
  /* Define a height or let the image define it. Overflow hidden ensures image doesn't stretch past container. */
  max-height: 630px;
  /* height: fit-content; */
  overflow: hidden;
}

.banner-image {
  width: 100%;
  height: auto;
  /* Optional: Ensure the image covers the container well without distortion */
  object-fit: cover;
  display: block;
}

.banner-content {
  /* position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); /* Centers the content precisely /
  color: white; Example text color */
  text-align: center;

  /* Add padding/margin as needed */
  margin: 0;
  padding: 0;
}

/* .banner-content img {
  width: 100%;
  height: 100%;
  object-fit: cover;
} */

.haze-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(
    255,
    255,
    255,
    0.3
  ); /* White overlay with 30% opacity */
  backdrop-filter: blur(8px); /* Applies the blur effect to the background */
  /* Add vendor prefix for broader compatibility */
  -webkit-backdrop-filter: blur(8px);
}
